body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 0.4rem;
  margin-bottom: 0.1875rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 47px 0px 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header__logo {
  margin-right: 1.6rem;
}

.header__dropdown {
  margin-top: 0.5rem;
}

.header__dropdown-item {
  display: inline;
  margin-right: 1rem;
}

.header__dropdown-item:last-child {
  margin-right: 18rem;
}

.header__search {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 16px 62px 13px 12px;
  width: 14.875rem;
  height: 2.25rem;
  border: 1.2px solid lightgray;
  border-radius: 8px;
}

.header__search:focus {
  outline: none;
  border: 1px solid #f0efed;
}

.header__signIn {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  width: 70px;
  height: 32px;
  border: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}

.header__signIn:hover {
  color: #000000;
  background: #f0efed;
  border-radius: 8px;
  text-decoration: underline;
}

.header__signIn:active {
  color: #a1a3a6;
  background-color: transparent;
}

.header__signUp {
  margin-bottom: 0.5rem;
  width: 70px;
  height: 32px;
  border: 1px solid #a1a3a6;
  border-radius: 8px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}

.header__signUp:hover {
  color: #000000;
  background: #f0efed;
  border-radius: 8px;
}

.header__signUp:active {
  color: #a1a3a6;
  background-color: transparent;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
}

.main__text-heading {
  margin-top: 80px;
  margin-left: 51px;
  margin-bottom: 35px;
  margin-right: 145px;
  font-size: 72px;
  font-weight: 100;
}

.main__text-paragraph {
  margin-left: 51px;
  margin-right: 650px;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 32px;
  font-weight: 300;
}

.main__text-buttons-input {
  margin-left: 48px;
  margin-bottom: 64px;
  margin-right: 5px;
  padding: 16px 47px 16px 24px;
  width: 340px;
  height: 48px;
  background: #ebeced;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.main__text-buttons-input:focus {
  outline: none;
  border: 1px #ebeced solid;
  background: white;
}

.main__text-buttons-submit {
  margin-bottom: 64px;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 192px;
  height: 48px;
  background: none;
  color: #363636;
  border: 1px #ebeced solid;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.main__text-buttons-submit:hover {
  background: #ebeced;
}

.main__text-buttons-submit:active {
  background-color: #a1a3a6;
}
/*# sourceMappingURL=style.css.map */